/* cart.module.css */

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart > h1 {
    border-bottom: 3px solid #957C3D;
}

.tabContainer {
    display: flex;
    border: 2px solid #957C3D;
    width: 70%;
    height: 100vh;
    margin-bottom: 40px;
}

.cardWrap {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 0px;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
}

.cartCards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding-bottom: 30px;
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}
.cardtit {
    position: sticky;
    top: 0;

    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3);
}

.otherDetail {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    padding: 30px;
    padding-top: 0;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.summary > h2 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    background-color: white;
    padding: 20px;
}

.sumDetail {
    width: 100%;
    display: flex;
    align-items: center;
}
.sumDetail > h3 {
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
    margin: 10px;
}
.sumDetail > p {
    margin: 10px;
    font-size: 17px;
    color: rgb(80, 80, 80);
    font-weight: 900;
    margin-left: auto;
}

.sumDetail > input {
    font-family: inherit;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    width: 100%;
}
.sumDetail > button {
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    font-size: 14px;
    border: 2px solid #957C3D;
}
.sumTotal {
    display: flex;
    align-items: center;
    gap: 20px;
}


.cartButton::before {
    position: absolute;
    content: "";
    background-image: url("./../../assets/navbar-bg.png");
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.cartButton {
    position: relative;
    color: #957C3D;
    font-size: 18px;
    padding: 10px 50px 10px 50px;
    outline: none;
    z-index: 1;
    border: 2px solid #957C3D;
}


.cartButton:hover::before {
    opacity: 1;
    background-color: transparent;
}

.summary > button {
    font-weight: 900;
    font-size: 30px;
}



.paymentOption {
    margin-top: 40px;
    border-top: 2px solid #957C3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.paymentCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    min-height: 0;
    flex: 1;
}
.paymentCard {
    display: flex;
    border: 2px solid #957C3D;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.paymentCard > h3 {
    margin: 0;
    margin-right: auto;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}