/* navbar.module.css */

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #002349;
    color: #957C3D;
}

.title {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 900;
    font-family: inherit;
}

.navLinks {
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    font-family: inherit;
    color: whitesmoke;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 100px;
    gap: 50px;
}
.navCartCont {
    composes: navLinks;
    padding: 0;
}
.navCart {
    width: 30px;
    height: 30px;
}

.activeLink {
    color:#957C3D;
    font-weight: 900;
    border-bottom: 3px solid #957C3D;
}