/* navbar.module.css */

.navbar {
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #002349;
    color: #957C3D;
    background-image: url("./../../assets/navbar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 900;
    font-family: inherit;
}

.navLinks {
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    font-family: inherit;
    color: whitesmoke;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 100px;
    gap: 50px;
}
.navCartCont {
    composes: navLinks;
    padding: 0;
}
.navCart {
    width: 30px;
    height: 30px;
}

.activeLink {
    color:#957C3D;
    font-weight: 900;
    border-bottom: 3px solid #957C3D;
}

.cartWrap {
    position: relative;
}
.cartWrapBadge {
    font-size: 17px;
    font-weight: 900;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}